body{
  height: 1000px;
}
.item{
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.item-region{
  position: relative;
  display: inline-block;
}
.discount{
  position: absolute;
  top: 5px;
  right: 0;

  background-color: black;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: Arial;
}