.search-bar{
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 15px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);

}